<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" [(opened)]="opened">
      <ul>
        <li *ngFor="let option of optionList" (click)="navigateTo(option)">{{ option | uppercase }}</li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <button mat-button (click)="opened = !opened">
        <span class="material-icons">
          menu
        </span>
      </button>
      <div class="router-outlet">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>