<div class="container"  #myBtn >
    <div class="firstPlayer">
        <h2>Player One</h2>
        <h3>Select player</h3>
        <mat-form-field class="player">
            <mat-select>
                <mat-option *ngFor="let player of playerList" [value]="player">{{ player }}</mat-option>
            </mat-select>
        </mat-form-field>

        <h3>Select team</h3>
        <mat-form-field class="team">
            <mat-select>
                <mat-option *ngFor="let player of playerList" [value]="player">{{ player }}</mat-option>
            </mat-select>
        </mat-form-field>

        <h3>Select team</h3>
        <mat-form-field class="team">
            <mat-select>
                <mat-option *ngFor="let player of playerList" [value]="player">{{ player }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="firstPlayer">
        <h2>Player One</h2>
        <h3>Select player</h3>
        <mat-form-field class="player">
            <mat-select>
                <mat-option *ngFor="let player of playerList" [value]="player">{{ player }}</mat-option>
            </mat-select>
        </mat-form-field>

        <h3>Select team</h3>
        <mat-form-field class="team">
            <mat-select>
                <mat-option *ngFor="let player of playerList" [value]="player">{{ player }}</mat-option>
            </mat-select>
        </mat-form-field>

        <h3>Select team</h3>
        <mat-form-field class="team">
            <mat-select>
                <mat-option *ngFor="let player of playerList" [value]="player">{{ player }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button mat-stroked-button color="primary" (click)="getWidth()">Add result</button>
</div>